.THIS .narrowpopoverclass {
	min-width: 20rem;
	width:15%;
}

.THIS .v-align-center {
	align-self: center;
}

.THIS .error-text {
	color: rgb(194, 57, 52);
}

.THIS .select_box {
	width: 250px;
	margin: 0 0 10px;
}

.THIS .heading {
	font-size: 200%;
}

.THIS .m-vertical-align {
	margin-bottom: 2px;
}

.THIS .m-top-align {
	margin-top: -0.55rem;
}

.THIS.root {
	height: 75vh;
	display: flex;
	flex-direction: column;
}

.THIS .tool-bar {
	display: flex;
	align-items: center;
	min-height: 85px;
}

.THIS .undo-redo-button {
	padding-left: 6px;
	padding-right: 0px;
}

