.THIS .select_box {
	width: 250px;
	margin: 0 0 10px;
}

.THIS .hr {
	margin: 0px;
}

.THIS .myhr {
	margin: 0 0 0 0;
}

.THIS .heading {
	font-size: 200%;
}

.THIS .graphContainer {
	position: relative;
	min-height: 400px;
	border: solid 1px black;
}

.THIS .node-header {
	border-bottom: solid 1px black;
}

.THIS .node-header p {
	margin: 2px auto;
	font-size: 10px;
}

.THIS .node {
	width: 80px;
	height: 40px;
	position: absolute;
	border: solid 1px black;
}

